@font-face {
    font-family: 'BaksoSapi';
    src: url(./fonts/BaksoSapi.otf);
}

* {
    color: whitesmoke;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

ul {
    list-style-type: none;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #c4a5ce;
    font-family: BaksoSapi;
    display: flex;
    flex-direction: column;
}

.links {
    padding-right: 15px;
    font-size: 18px;
    gap: 30px;
    display: flex;
    align-items: center;
}

.links >*:hover {
    text-shadow:  2px 2px 2px rgb(223, 208, 223);
    transition: 0.2s;
}

.header {
    flex:  0 1 auto;
    padding: 0px 60px 0px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    max-width: 300px;
    height: auto;
}

#catcard {
    box-shadow: 8px 12px 15px rgb(223, 208, 223);
    max-width: 400px;
    border-radius: 15px;
}

.adopt-preview {
    margin-top: 30px;
    max-height: 800px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap:70px;
}

.preview-container {
    flex: 0 1 auto;
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;

}

.preview-header {
    inline-size: 400px;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

.preview-text {
    inline-size: 350px;
    text-align: center;
}

.adopt-button:hover {
    background-color: #a0c4e2;
    text-shadow:  10px 10px 20px rgb(255, 255, 255);
    transition: 0.7s;
}

 #adopt-button {
    box-shadow: 3px 7px 15px rgb(223, 208, 223);
    padding:  7px 15px;
    border-radius: 20px;
    font-size: 20px;
    font-family: "BaksoSapi";
    border-style: dotted;
    border-color: whitesmoke;
    background-color: #9cc8e0;
    margin: 0;
}


.info-title {
  margin-top: 50px;
  padding-bottom: 30px;
  color: #9cc8e0;
  font-size: 50px;
  font-weight: 800;
}

.info-text  {
    margin-top: 20px;
    color: #9cc8e0;
    font-size: auto;
    text-align: center;
    max-width: 160px;
}

#info-img {
    max-width: 150px;
    border: 5px dotted #9cc8e0;
    box-shadow: 2px 2px 10px #9cc8e0;
    height: auto;
    border-radius: 20px;
}

.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
    background-color: white;
}

.info-container {
    flex: 1;
    display: flex;
    gap: 80px;
    padding-bottom: 100px;
}


.quote-box {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    background-color: #a0c4e2;
    justify-content: center;
    align-items: center;
   
}

.testimonial, .testimonial-name {
    display: flex;
    font-size: 36px;
    max-width: 700px;
}

.testimonial {
    font-style: italic;
}

.testimonial-name {
    font-weight: 800;
    display: flex;
    align-self: center;
    padding-left: 700px;
}

.action-page {
    width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.action-header {
    font-weight: 800;
    font-size: 22px;
}

.right {
    display:flex;
}

.adopt,  button {
    font-family: BaksoSapi;
    border-radius: 10px;
    background: none;
    border: dotted;
    border-color: whitesmoke;
    padding: 15px;
    margin-left: 300px;
}

.adopt, button:hover {
    text-shadow:  10px 10px 20px rgb(255, 255, 255);
    transition: 0.3s;
}

.action-box {
    border-radius: 12px;
    background-color: #c4a5ce;
    max-height: 150px;
    min-width: 1000px;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.bottom {
    font-size: 17px;
    width: 100%;
    background-color: rgb(226, 225, 142);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}




